<form [formGroup]="loginForm" class="login-form" (submit)="onSubmit()">
  <app-logo></app-logo>
  <app-input-text
    type="text"
    label="דוא''ל"
    [required]="true"
    placeholder="example@domain.com"
    direction="ltr"
    formControlName="email"
    [err]="loginForm.get('email')?.touched ? 
    (loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.value === '' ? 'שדה חובה' : 
    (loginForm.get('email')?.errors?.['email'] ? 'יש להזין פורמט דואר אלקטרוני' : '')) : ''"
  ></app-input-text>

  <app-input-text
    type="password"
    label="סיסמה"
    [required]="true"
    placeholder="Aa1234!"
    direction="ltr"
    formControlName="password"
    [err]="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.value === '' ? 'שדה חובה' : 
        loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength'].actualLength <  loginForm.get('password')?.errors?.['minlength'].requiredLength ? 'יש להזין סיסמה בת 8 תווים לפחות' : ''"
  ></app-input-text>

  <div class="error-section">
    @if(!!error()){
      <span class="error">{{ error() }}</span>
    }
  </div>

  <div class="actions">
    <a routerLink="/forgot" class="forgot-password">שכחתי סיסמה</a>
    <button class="default primary-btn login" type="submit">התחברות</button>
    <button class="default secondary-btn logout" type="button">התנתקות</button>
  </div>
</form>
