$font-color-1: #333;

$grey-1: #333;
$grey-2: #8b8b8b;
$grey-3: #b0b0b0;
$grey-4: #e0e0e0;
$grey-5: #f5f5f5;
$red-1: #ff0000;
$red-2: #ff3333;
$red-3: #ff6666;
$red-4: #ff9999;
$blue-1: #225fc8;
$blue-2: #4e8fff;
$blue-3: #6fa4ff;
