<section class="my-list">
    <div class="top-section">
        <app-list-actions></app-list-actions>

        <div class="total">
            <div class="price">
                <span class="label">מחיר:</span>
                <div class="value-wrapper">
                    <span class="value">{{ totalPrice() }}</span>
                    <span class="ils">&#8362;</span>
                </div>
            </div>

            <div class="products">
                <span class="amount">{{ myListItems().length }}</span>
                <span>מוצרים</span>
            </div>
        </div>
    </div>

    <div class="main-content">
        <ul class="list">
            @for(item of tableItems(); track $index) {
            <li class="row" [ngClass]="{'odd': $odd,'even': $even}">
                @if(item === null) {
                <span></span>
                } @else {
                <app-item [itemData]="item"></app-item>
                }
            </li>
            }
            @if(tableItems().length > 20) {
                <app-pagination></app-pagination>
            }
        </ul>
    </div>
</section>